spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    show-sql: false

  flyway:
    baseline-on-migrate: false

logging:
  level:
    dev.auctoritas: INFO
    org.hibernate: WARN

auctoritas:
  auth:
    mfa:
      encryption:
        key: ${MFA_ENCRYPTION_KEY}
    oauth:
      encryption:
        key: ${OAUTH_ENCRYPTION_KEY}
        salt: ${OAUTH_ENCRYPTION_SALT}

    password-reset:
      log-token: false
